NET "O_LED<0>"	LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; # LED<0>
NET "O_LED<1>"	LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; # LED<1>
NET "O_LED<2>"	LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; # LED<2>
NET "O_LED<3>"	LOC = "F11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; # LED<3>
NET "O_LED<4>"	LOC = "C11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; # LED<4>
NET "O_LED<5>"	LOC = "D11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; # LED<5>
NET "O_LED<6>"	LOC = "E9"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; # LED<6>
NET "O_LED<7>"	LOC = "F9"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; # LED<7>

NET "I_SW<0>" 	LOC = "L13"; #SW0
NET "I_SW<1>"	LOC = "L14"; #SW1
NET "I_SW<2>"	LOC = "H18"; #SW2
NET "I_SW<3>"	LOC = "N17"; #SW3

NET "I_FRXD" LOC = "U8" | IOSTANDARD = LVTTL ;
NET "O_FTXD" LOC = "M13" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;

NET "I_CLK"		LOC = "C9"	| IOSTANDARD = LVCMOS33 ;
NET "I_RST"		LOC = "K17"	| IOSTANDARD = LVTTL 	| PULLDOWN ;