NET "O_LED<0>"	LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; # LED<0>
NET "O_LED<1>"	LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; # LED<1>
NET "O_LED<2>"	LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; # LED<2>
NET "O_LED<3>"	LOC = "F11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; # LED<3>
NET "O_LED<4>"	LOC = "C11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; # LED<4>
NET "O_LED<5>"	LOC = "D11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; # LED<5>
NET "O_LED<6>"	LOC = "E9"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; # LED<6>
NET "O_LED<7>"	LOC = "F9"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ; # LED<7>

NET "O_SF_CE0" 	LOC = "D16"	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;

NET "O_LCD_E"	LOC = "M18"	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "O_LCD_RS" 	LOC = "L18"	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "O_LCD_RW" 	LOC = "L17"	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;

# The LCD four-bit data interface is shared with the StrataFlash.
NET "IO_SF_D_11_8<8>" 	LOC = "R15"	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "IO_SF_D_11_8<9>" 	LOC = "R16"	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "IO_SF_D_11_8<10>" 	LOC = "P17"	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;
NET "IO_SF_D_11_8<11>" 	LOC = "M15"	| IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW ;

NET "I_CLK"		LOC = "C9"	| IOSTANDARD = LVCMOS33 ;
NET "I_RST"		LOC = "K17"	| IOSTANDARD = LVTTL 	| PULLDOWN ;
