NET "I_SW<0>" 	LOC = "L13"; #SW0
NET "I_SW<1>"	LOC = "L14"; #SW1
NET "I_SW<2>"	LOC = "H18"; #SW2
NET "I_SW<3>"	LOC = "N17"; #SW3

NET "O_FTXD" LOC = "M13" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = SLOW ;

NET "I_CLK"		LOC = "C9"	| IOSTANDARD = LVCMOS33 ;
NET "I_RST"		LOC = "K17"	| IOSTANDARD = LVTTL 	| PULLDOWN ;
